/*globals

*/
*{
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}

body{
    color: white;
    font-family: 'Roboto', sans-serif;

}

h1{
    font-size: 6.4rem;
}

h2{
    font-size: 3.6rem;
}

h3{
    font-size: 1.8rem;
}

/*main

*/

.main{
    width: 100%;
    max-width: 960px;
    margin: auto;

}

/*banner

*/

.banner{
    position: relative;
}
.banner h1{
    position: absolute;
    top:46px;
    width:100%;
    text-align: center;

}

.banner h2{
    position: absolute;
    background: rgba(114, 153, 254, 0.5);
    padding: 24px 24px 24px 18px;
    bottom: 140px;
    left: 52px;
    line-height: 1.3;
}

.banner img{
    display: block;
}
/*my-skills

*/
.my-skills{
    background-color: #7299FE;
    padding: 40px 104px 80px;
}
.my-skills h2{
    text-align: center;
    margin-bottom: 26px;
}
.my-skills .item{
    display: inline-block;
    width: 49%;     /*espaciado horizontal de las barras ,las dos horizontales */
                        /*margin-right: 2%;    /*espaciado horizontal de las barras ,las dos horizontales */
    margin-bottom: 20px;/*espacio entre la base de la barrita y la parte superior d ela palabra del item*/
}

.my-skills .item:nth-child(odd){/*espaciado horizontal de las barras impares */
    margin-right: -3px;
    padding-right: 12px;
}

.my-skills .item:nth-child(even){
padding-left: 12px;
}

.my-skills .bar{
    height: 18px;
    background: white;
}

.my-skills .bar div{
    height: 100%;
    width: 80%;
    background: black;
}

.my-skills h3{
    margin-bottom: 8px;
    
}


/*services

*/
.services{
    background-color:#FB7171;
    padding: 30px 250px 80px ;
}

.services h2{
    text-align: center;
    margin-bottom: 26px;
}

.services h3{
                          /*text-align: center;*/
  width: 28%;
  padding: 1px 2px 2px 1px;
    
}



.services .item2{
    display: inline-block;
    width: 33%;     /*espaciado horizontal items,las dos horizontales */
                /* margin-right: 1%; espaciado horizontal de las barras ,las dos horizontales */
    margin-bottom: 10px;/*  margin-bottom: 10px;   espacio entre la base de la barrita y la parte superior d ela palabra del item*/
    padding: 1px 2px 2px 1px;
}




/*portfolio

*/
.portfolio{
    background-color:#FFD233;
}

.portfolio{
   
    padding: 40px 450px 90px;
}
.portfolio h2{
    text-align: center;
    margin-bottom: 26px;
}
.portfolio .item3{
    display: inline-block;
    width: 80%;     /*espaciado horizontal de las barras ,las dos horizontales */
                        /*margin-right: 2%;    /*espaciado horizontal de las barras ,las dos horizontales */
    margin-bottom: 40px;/*espacio entre la base de la barrita y la parte superior d ela palabra del item*/
}


/*clientes

*/
.clients{
    background-color: #3F4E62;
}

.clients{
   
    padding: 40px 390px 100px;
}
.clients h2{
    text-align: center;
    margin-bottom: 26px;
}

.clients .item4{
    display: inline-block;
    width: 100%;     /*espaciado horizontal de las barras ,las dos horizontales */
                        /*margin-right: 2%;    /*espaciado horizontal de las barras ,las dos horizontales */
    margin-bottom: 20px;/*espacio entre la base de la barrita y la parte superior d ela palabra del item*/
    margin-left: 10px;
}

.clients .item4 div{

margin-right: 100%;

    }

/*contacto

*/
.contact{
    background-color: #16A085;
}
.contact{
   
    padding: 40px 390px 100px;
}
.contact h2{
    text-align: center;
    margin-bottom: 26px;
}

.contact .item5{
    display: inline-block;
    width: 50%;     /*espaciado horizontal de las barras ,las dos horizontales */
                        /*margin-right: 2%;    /*espaciado horizontal de las barras ,las dos horizontales */
    margin-bottom: 20px;/*espacio entre la base de la barrita y la parte superior d ela palabra del item*/
    margin-left: 520px;
    text-align: center;
}
.contact input{
    height: 59px;
    width: 353px;
}
.contact  textarea{
    height:112px ;
    width: 759px;

}
.contact  button{
    height:56px ;
    width: 167px;
    background-color: #233451;
    color:white;
}

/*para cambiar de color las etiquetas de nombre y apellido
input[type="text"]{
    background-color: violet;
}
*/
