/*globals

*/
* {
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}

body{
    color: white;
    font-family: 'Roboto', sans-serif;

}

h1{
    font-size: 6.4rem;
    font-weight: 900;

}

h2{
    font-size: 3.6rem;
}

h3{
    font-size: 1.8rem;
}

/*main

*/

.main{
    width: 100%;
    max-width: 960px;
    margin: auto;

}

/*banner

*/

.banner{
    position: relative;
}
.banner h1{
    position: absolute;
    top:46px;
    width:100%;
    text-align: center;

}

.banner h2{
    position: absolute;
    bottom: 140px;
    left: 52px;
    background-color: rgba(114, 153, 254, 0.5);
    padding: 24px 24px 24px 18px;    
   line-height: 1.3;
}

.banner img{
    display: block;
}
/*my-skills

*/
.my-skills{
    background-color: #7299FE;
    padding: 40px 104px 60px;
}

.my-skills h2{
    text-align: center;
    margin-bottom: 26px;
}
.my-skills .items{
    display: flex;
    flex-wrap: wrap;
    
}
.my-skills .item{
    width: 50%;
    margin-bottom: 20px;

}
.my-skills .item:nth-child(even){
padding-left:10px ;
}

.my-skills.item:nth-child(odd){
padding-right: 10px;
}
.my-skills h3{
    margin-bottom: 10px;
}

/*.my-skills .item{
    display: inline-block;
    width: 49%;     /*espaciado horizontal de las barras ,las dos horizontales */
                        /*margin-right: 2%;    /*espaciado horizontal de las barras ,las dos horizontales */
 /*   margin-bottom: 20px;/*espacio entre la base de la barrita y la parte superior d ela palabra del item*/
/*}*/
/*
.my-skills .item:nth-child(odd){/*espaciado horizontal de las barras impares */
 /*   margin-right: -3px;
    padding-right: 12px;
}

.my-skills .item:nth-child(even){
padding-left: 12px;
}*/


.my-skills .bar{
    height: 18px;
    background: white;
}

.my-skills .bar div{
    height: 100%;
    width: 80%;
    background: black;
}

/*.my-skills h3{
    margin-bottom: 8px;
    
}*/


/*
services

*/
.services{
    background-color:#FB7171;
    padding: 34px 180px 58px;
}

.services h2{
    text-align: center;
    margin-bottom: 50px;
}
.services .items{

    display: flex;
    flex-wrap: wrap;
}

.services .items div{
    text-align: center;
    width: 33.33%;
    margin-bottom: 58px;
}
.services h3{
margin-top: 20px;
}





/*portfolio

*/
.portfolio{
    background-color:#FFD233;
    padding: 40px 180px 90px;
}


.portfolio h2{
    text-align: center;
    margin-bottom: 56px;
}

.portfolio .items{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio .items div{
    width: 25%;
    padding: 0 5px;
    margin-bottom: 10px;
}


.portfolio img{
width: 100%;
display: block;

}


/*clientes

*/
.clients{
    background-color: #3F4E62;
    text-align: center;
    padding: 36px 68px 76px ;
}

.clients h2{
    
    margin-bottom: 20px;
}

.clients .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.clients .item {
    display: inline-block;
    width: 100%;     /*espaciado horizontal de las barras ,las dos horizontales */
    /*margin-right: 100%;    /*espaciado horizontal de las barras ,las dos horizontales */
    margin-bottom: 90px;/*espacio entre la base de la barrita y la parte superior d ela palabra del item*/
    margin-right: 25px;
}

/*contacto

*/
.contact{
    background-color: #16A085;
    padding: 36px 100px 66px;
}

.contact h2{
    text-align: center;
    margin-bottom: 30px;
    
}

.contact form{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
       
}


.contact input{
    width: 49%;
    margin-bottom: 18px;
    padding: 20px 10px;

}
.contact  textarea{
        width: 100%;
        margin-bottom: 14px;
        padding: 10px;

}
.contact  div{
    text-align: center;
    width: 100%;
       
    
    
}
.contact button{

    height:56px ;
    width: 167px;
    color:white;
    background-color: #233451;
    border: 1px solid #233451;
    cursor: pointer;
}
/*             TABLET*/

@media(max-width:860px){
    h2{
        font-size: 2.8rem;
    }
    .my-skills,
    .services,
    .portfolio,
    .contact,
    .clients{
        padding: 40px;
    }
    .my-skills{
        background-color:red;
    }

    .banner h2{
        right: 52px;
        bottom: 40px;
        text-align: center;

    }


}


/* TABLET SMALL // CELLPHONES  LARGE*/
@media(max-width:720px){
    h1{
        color: red;
        font-size: 4.4rem;

    }
    .my-skills{
        background-color: green;
        padding: 20px;
    }
    .my-skills h2{
        margin-bottom: 10px;
    }
     .my-skills .item{
         width: 100%;
     }
     .my-skills.item:nth-child(odd),
     .my-skills.item:nth-child(even){
         padding: 0;

     }

}

/* CELLPHONES MEDIUM*/
@media(max-width:620px){
    .my-skills,
    .services,
    .portfolio,
    .contact,
    .clients{
        padding: 20px;
    }
    /*banner*/
    .banner h2{
        font-size: 2rem;
        padding: 10px;
        right: inherit;
    }
    /*my-skill*/
    .my-skills{
        background-color: yellow;
    }
    
    .my-skills h2{
        margin-bottom: 10px;
    }

    .my-skills .item{
        width: 100%;
    }

    .my-skills.item:nth-child(odd),
    .my-skills.item:nth-child(even){
        padding: 0;
    }
}

    /* ----- CELLPHONES  SMALL-------*/
@media(max-width:480px){
    .my-skills{
        background-color: blue;
    }

}




/*para cambiar de color las etiquetas de nombre y apellido
input[type="text"]{
    background-color: violet;
}
*/
