
@import "globals";
@import "reset";
@import "variables";

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    main{
        flex-grow: 1;
    }

    header{
        background-color: $color_primary;
    }
}


